/* clip-path: polygon(0 0,100% 0,100% 0,0 0);
      clip-path: polygon(0 0,100% 0,100% 100%, 0 100%);*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
    text-transform: capitalize;
    font-family: sans-serif;
}
html{
    scroll-behavior: smooth;
    
}
:root{
    --pink:#e84393;
}
header{
    height: 80px;
    padding: 20px 6%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0 ;
    width:100%;
    box-shadow: 1px 2px 3px #333;
    z-index: 100;
}
header .logo{
    font-size: 20px;
    font-weight: 700;
    color: #333;
    letter-spacing: 1px;
}
header .logo b{
    font-size: 25px;
}
header .navbar ul{
display: flex;
}
header .navbar ul li a{
    display: block;
    color: #333;
    padding: 10px 20px;
    font-size: 20px;
    letter-spacing: 1px;
    transition: color  .7s;
}
header .navbar ul li a:hover{
    color:var(--pink);
     border-top: 2px solid var(--pink);
     border-bottom: 2px solid var(--pink);
    border-radius: 5px;
    
}

header .icons i{
    font-size: 20px;
    color: #333;
    padding: 10px 15px;
    cursor: pointer;
}
header .icons i:hover{
    color: var(--pink);
}
header .fa-bars{
    display: none;
    border: 1px solid gray;
    padding: 5px;
    border-radius: 5px;
    font-size: 25px;
    color: var(--pink);
    cursor: pointer;
}
header #toggler{
    display: none;
}
/* main */
main{
    background: url('./duong-ngan-r7uz4y9y-Og-unsplash.jpg');
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
}
main .container{
    max-width: 500px;
    margin-left: 13%;
}
main .container h1{
    font-weight: bold;
    font-size: 45px;
    font-family: sans-serif;
}
main .container h3{
    color: var(--pink) ;
    font-size: 28px;
    letter-spacing: 1px;
    font-family:sans-serif ;
}
main .container p{
    line-height: 1.5;
    font-family: sans-serif;
    font-weight: 600;
    letter-spacing: 1.5px;
    margin-top: 15px;
}
main .container button{
    margin-top: 15px;
    background-color: black;
    color: white;
    font-family: sans-serif;
    font-size: 18px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px 15px;
    letter-spacing: 1px;
    cursor: pointer;
}
main .container button:hover{
    background-color: var(--pink);
   
}
/* about */
.about{
    width: 80%;
    margin: 0px auto ;
    background-color: #ffffff;
    max-width: 1500px;
    padding-top: 100px;
}
.about .h2{
    text-align: center;
    background-color: hsl(341, 45%, 81%,0.3);
    color: var(--pink);
     padding: 10px;
}
.about .h2 span{
    color: black;
}
.about .contact{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    column-gap: 20px;
}
.about .contact .left,.about .contact .right{
    padding: 10px;
    background-color: rgb(247, 238, 238);
    border: 1px solid #ffffff;
    width: 48%;
    position: relative;
}
.about .contact .left img{
   width: 100%;
   height: 35vh;
   
}
.about .contact .left h2{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #ffffff;
    color: black;
    padding: 5px 10px;
    text-align: center;
    width: 100%;
    margin-left: -10px;
    mix-blend-mode: lighten;
}
.about .contact .right{
    padding: 20px 15px;
}
.about .contact .right p{
   line-height: 1.4;
   margin-top: 10px;
   color: gray;
   letter-spacing: 1px;
}
.about .contact .right button{
    padding: 10px;
    color: white;
    background-color: black;
    font-size: 18px;
    margin-top: 15px;
    border-radius: 60px;
    cursor: pointer;
}
.about .contact .right button:hover{
    background-color: var(--pink);
}
/* icons */

section + .icons{
    
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    padding: 15px 10%;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: calc(100% - 50px);
    margin:40px auto ;
}
section +.icons .box{
     background-color: rgb(241, 206, 206);
     width: 300px;
     border-radius: 5px;
    padding: 7px 10px;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: start;
}
section +.icons .box img{
    width :80px;
    margin-right: 10px;
}
section +.icons .box .text h2{
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;
}
section +.icons .box .text p{
    letter-spacing: 0.8px;
    margin-top: 10px;
}
.products {
    padding-top: 70px;
}
.products h1 , .review h1,.contact h1{
    margin: 30px auto;
    text-align: center;
    border-radius: 10px;
    background-color:hsl(341, 45%, 81%,0.3);
    width: 80%;
    padding: 10px;
    letter-spacing: 1px;
}
.products h1 span,.review h1 span, .contact h1 span{
    color: var(--pink);
    letter-spacing: 1px;
}
.products .box-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: 30px auto;
    gap: 20px 40px;
}
.products .box-container .box{
    flex-basis: 250px;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center ;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.products .box-container .box img{
    width: 40%;
    height: 140px;
    background-position: center;
}
.products .box-container .box:hover img{
    transform: scale(1.1);
}
.products .box-container .box> span{
    position: absolute;
    top: 5px;
    left: 5px;
    align-self: flex-start;
    padding: 5px 20px;                       
    background-color: hotpink;
    border-radius: 20px;
    color: white;
    font-size: 18px;
}
.products .box-container .box .icons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    left: 0;
    bottom: -30px;
    right: 0;
    transition:  1s;
}
.products .box-container .box:hover .icons{
    bottom: 55px;
}
.products .box-container .box .icons a{
    color: white;
    padding: 5px 15px;
    font-size: 15px;
    background-color: var(--pink);
    width: 50%;
}
.products .box-container .box .icons .cart-btn{
    width: 100%;
    border-left: 1px solid #fff7;
    border-right: 1px solid #fff7;
}
.products .box-container .box .icons a:hover{
    background-color: gray;
}
.products .box-container .box .text{
  margin: 0px auto;
  width: 100%;
}
.products .box-container .box .text h3{
  font-family: sans-serif;
  font-weight: normal;
  margin-top: 10px;
}
.products .box-container .box .text div{
margin: 5px auto;
letter-spacing: 1px;
font-size: 18px;
color: var(--pink);
display: flex;
justify-content: space-evenly;
align-items: center;
}
.products .box-container .box .text span{
  text-decoration: line-through;
  font-size: 16px;
  color: black;
}
/* review */
.review{
  padding-top: 70px;
}
.review .container{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin: 30px auto;
  gap: 20px 40px;
}
.review .container .box{
  width: 300px;
  padding: 15px 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.review .container .box .stars{
  text-align: center;
  margin-bottom: 15px;
}
.review .container .box .stars i{
  padding: 0px 4px;
  color: gold;
}
.review .container .box p{
  letter-spacing: 1px;
  line-height: 1.6;
  font-size: 17px;
}
.review .container .box .info{
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.review .container .box .info .name{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.review .container .box .info .image{
  width: 70px;
  height: 70px;
  border: 2px solid gray;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  overflow: hidden;
}
.review .container .box .info .image img{
  width: 100%;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}
.review .container .box .info:hover img{
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
}
.review .container .box .info .name .text{
  margin-left: 20px;
}
.review .container .box .info .name .text h2{
  font-weight: 500;
}
.review .container .box .info .name .text p{
  font-size: 16px;
}
.review .container .box .info i{
  font-size: 40px;
}
.contact{
  padding-top: 60px;
}
.contact .row{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 80%;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0px auto;
}
.contact .row form{
  flex: 1 1 40%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px 15px;
  border-radius: 20px;  
}
.contact .row form .field{
  position: relative;
  width: 100%;
  margin-bottom: 25px;
}
.contact .row form input{
  text-transform: lowercase;
  border: 2px solid rgb(240, 79, 39);
  outline: none;
  background: transparent;
  color: rgb(0, 0, 0);
  font-size: 19px;
  padding: 2px 5px;
  margin: 10px auto;
  display: block;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.contact .row form label{
  position: absolute;
  top: 6px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
}
.contact .row form input:focus,.contact .row form input:valid{
  color: var(--pink);
  border: 3px solid var(--pink);
}
.contact .row form input:focus + label,
.contact .row form input:valid +label{
  position: absolute;
  left: 40px;
  top: -7px;
  z-index: 100;
  background: white;
}
.contact .row .image{
    flex: 1 1 40%;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  overflow: hidden;
  
}
.contact .row .image img{
  width: 100%;
  height: 333px;
}








@media (max-width:1175px) {
    .about .contact{
        flex-direction: column;
        align-items: center;
    }
    .about .contact .left,.about .contact .right{
        width: 80%;
        margin-top: 20px;
    }
    section +.icons{
        justify-content:center ;
    }
}
@media (max-width:991px) {
    header{
        padding: 10px 3%;
    }
    header .navbar ul li a{
        padding: 10px 5px;
    }
    header .icons i{
        padding: 10px 5px;
    }
    main .container{
        margin-left: 10%;
    }
    main .container h1{
        font-size: 40px;
    }
    main .container h3{
        font-size: 22px;
    }
    
}
@media (max-width:768px){
    header .fa-bars{
        display: block;
    }
    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        border-top: 2px solid rgb(148, 148, 150);
        margin-top: 5px;
        margin-bottom: 10px;
       text-align: center;
       background-color: #ffffff;
       clip-path: polygon(0 0,100% 0,100% 0,0 0);
    }
    header #toggler:checked ~ .navbar{
        clip-path: polygon(0 0,100% 0,100% 100%, 0 100%);
    }
    header .navbar ul{
        display: block;
    }
    header .navbar ul li a{
        display: block;
        margin: 10px;
        padding: 10px;
        color: rgb(0, 0, 0);
        background-color: rgb(228, 196, 218);
        border-radius: 5px;
    }
    main .container{
        margin-left: 5%;
    }
    main .container h1{
        font-size: 35px;
    }
    main .container h3{
        font-size: 19px;
    }
    main .container p{
        padding:10px 10% 10px 10px;
        background-color: #ffffff;
        opacity: .7;
    }
    section +.icons .box{
        width: 90%;
    }
    .contact .row{
      flex-direction: column;
      align-items: center;
    }
    .contact .row form{
      width: 75%;
      order: 2;
    }
    .contact .row .image{
        max-width: 75%;
      max-height: 100px;
      order: 1;
      
    }
}
@media (max-width:420px) {
    section +.icons .box{
        flex-direction: column;
        text-align: center;
    }
}